<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>麻雀計算機</title>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/riot/2.6.2/riot+compiler.min.js" integrity="sha256-KbOsNM4K/TeTQehueQ3qXMtKlAHkl1c8SN109s+qpew=" crossorigin="anonymous"></script>
  </head>
  <body>
    
    <div id="hai-selection"></div>
    <div id="controller"></div>
    <div id="hai-selected"></div>
    <script type="riot/tag">
      <controller>
        <button type="button" onclick={ clear }>クリア</button>
        <button type="button" onclick={ say }>ポン</button>
        <button type="button" onclick={ say }>チー</button>
        <button type="button" onclick={ say }>カン</button>
        <button type="button" onclick={ said }>鳴いた</button>
        <button type="button" onclick={ calc }>計算</button>
        clear() {
          selectedList = [];
          initialize();
        }
        calc() {
          alert('TODO 計算処理を追加する');
        }
        say() {
          // alert('TODO 鳴く処理を追加する');
          hideHaiSelection();
        }
        said() {
          showHaiSelection();
        }
      </controller>
      <hai-selected>
        <!-- 選択済みの牌一覧 -->  
        <hai each={ list } name={ x } />
        this.list = opts.list.map(x => ({x: x}));
      </hai-selected>

      <hai-selection>
        <!-- 選択する牌一覧 -->
        <input type="checkbox" class="hide-check" checked="checked">
        <div>
          <div>
            <hai each={ nums } name={ x + '萬' } />
          </div>
          <div>
            <hai each={ nums } name={ x + '筒' } />
          </div>
          <div>
            <hai each={ nums } name={ x + '索' } />
          </div>
          <div>
            <hai each={ jihai } name={ x } />
          </div>
        </div>
        <style scoped>
          [type="checkbox"] {
            display: none;
          }
          [type="checkbox"]+div {
            height: 400px;
            overflow: hidden;
            opacity: 1;
            transition: all 1s;
          }
          [type="checkbox"]:checked+div {
            height: 0;
            opacity: 0;
          }
        </style>
        this.nums = '一二三四五六七八九'.split('').map(x => ({x:x}));
        this.jihai = '東南西北白發中'.split('').map(x => ({x:x}));
        this.on('mount', function() {
          this.root.querySelector('.hide-check').checked = false;
        });
      </hai-selection>

      <hai>
        <img src={ imgsrc } onclick={ onClick }>
        <style scoped>
          img:hover {
            opacity: .6;
          }
        </style>
        this.imgsrc = '../img/' + opts.name + '.png';
        onClick(ev) {
          addHaiSelected(opts.name);
        }
      </hai>
    </script>
    <script>
      var selectedList = [];
      var mountHaiSelected = function() {
        riot.mount('#hai-selected', 'hai-selected', { list: selectedList });
      };
      var hideHaiSelection = function(callback) {
        $('#hai-selection [type="checkbox"]').prop('checked', true);
        if (!callback) return;
        $('#hai-selection [type="checkbox"]').on('animationend webkitAnimationEnd', callback);
      };
      var showHaiSelection = function(callback) {
        $('#hai-selection [type="checkbox"]').prop('checked', false);
        if (!callback) return;
        $('#hai-selection [type="checkbox"]').on('animationend webkitAnimationEnd', callback);
      };
      var addHaiSelected = function(name) {
        var count = selectedList.filter(s => s === name).length;
        if (count >= 4) return;
        selectedList.push(name);
        mountHaiSelected();
      };
      var initialize = function() {
        riot.mount('#hai-selection', 'hai-selection');
        riot.mount('#controller', 'controller');
        riot.mount('#hai-selected', 'hai-selected', { list: selectedList });
      };
      initialize();
    </script>
  </body>
</html>